In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import xarray as xr

%matplotlib inline

In [2]:
df_prof = pd.read_csv('profile_trajectory/eb04-001-16_profile.csv')
df_traj = pd.read_csv('profile_trajectory/eb04-001-16_trajectory.csv')

In [11]:
df_prof[['platform_id', 'ptt', 'time', 'longitude', 'latitude', 'max_dbar',
       'temp_dbar', 'temp_vals', 'cond_dbar', 'cond_vals',
       'sal_dbar', 'sal_vals', 'fluoro_dbar',
       'fluoro_vals', 'n_oxy', 'oxy_dbar', 'oxy_vals', 'photo_dbar',
       'photo_vals', 'sal_corrected_vals',
       'created', 'modified']].head()

,platform_id,ptt,time,longitude,latitude,max_dbar,temp_dbar,temp_vals,cond_dbar,cond_vals,...,fluoro_dbar,fluoro_vals,n_oxy,oxy_dbar,oxy_vals,photo_dbar,photo_vals,sal_corrected_vals,created,modified
0,eb04-001-16,120349,8/9/2016 15:44,-155.339841,71.262012,7.5,"2,2.4,2.7,3.1,3.5,3.8,4.2,4.6,4.9,5.3,5.7,6,6....","4.460,4.460,4.460,4.450,4.450,4.450,4.445,4.43...",NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,"26.937,26.937,26.937,26.937,26.934,26.934,26.9...",2017-02-09T23:57:26Z,2017-02-09T23:57:40Z
1,eb04-001-16,120349,8/10/2016 7:00,-155.332339,71.284081,9.5,"2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5","4.430,4.430,4.424,4.395,4.349,4.218,3.068,3.06...",NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,"27.260,27.252,27.242,27.219,27.219,27.219,27.8...",2017-02-09T23:57:26Z,2017-02-09T23:57:40Z
2,eb04-001-16,120349,8/10/2016 11:38,-155.681713,71.259495,7.0,"2,2.3,2.7,3,3.3,3.7,4,4.3,4.7,5,5.3,5.7,6,6.3,...","4.486,4.486,4.486,4.486,4.486,4.481,4.475,4.47...",NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,"27.057,27.057,27.057,27.057,27.057,27.057,27.0...",2017-02-09T23:57:26Z,2017-02-09T23:57:40Z
3,eb04-001-16,120349,8/11/2016 19:04,-155.401241,71.247930,9.5,"2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5","3.442,3.379,3.312,3.212,3.085,2.845,2.511,2.22...",NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,"27.595,27.611,27.637,27.675,27.725,27.823,27.9...",2017-02-09T23:57:26Z,2017-02-09T23:57:40Z
4,eb04-001-16,120349,8/18/2016 11:44,-155.414863,71.284903,9.5,"2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5","4.360,4.360,4.358,4.358,4.346,4.339,4.313,4.15...",NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,"27.467,27.467,27.467,27.467,27.467,27.467,27.4...",2017-02-09T23:57:26Z,2017-02-09T23:57:40Z

In [5]:
df_traj.head()

,platform_id,ptt,time,location_class,li,latitude,longitude,alt_lat,alt_lon,number_messages,...,km_from_haul,sst,error_radius,semi_major_axis,semi_minor_axis,ellipse_orientation,hdop,satellite,diag_id,z
0,eb04-001-16,120349,8/7/2016 20:42,2,NaN,70.83011,-155.43321,70.83011,-155.43321,4,...,NaN,NaN,354,1604,78,103,431,MA,20734934,0
1,eb04-001-16,120349,8/7/2016 20:46,B,NaN,70.82051,-155.40597,70.82051,-155.40598,1,...,NaN,NaN,4500,92258,219,109,7474,NN,20734935,0
2,eb04-001-16,120349,8/7/2016 23:11,B,NaN,70.81931,-155.40370,70.81931,-155.40370,1,...,NaN,NaN,3845,16499,895,104,8507,NP,20737387,0
3,eb04-001-16,120349,8/8/2016 4:03,B,NaN,70.81957,-155.42008,70.81957,-155.42007,1,...,NaN,NaN,3151,22036,450,93,8040,NK,20772355,0
4,eb04-001-16,120349,8/8/2016 5:05,B,NaN,70.82257,-155.45813,70.82257,-155.45813,1,...,NaN,NaN,3089,24723,385,92,8734,MA,20777187,0

In [ ]:
#f = xr.open_dataset('atn_deployment.nc')
#f = xr.open_dataset('dt_CREMP_Rev_OBIS_Occurrence_v2_3_1_2007_943b_fba4_b799.nc')
#f = xr.open_dataset('atn_NCEI_test_deployment.nc')

In [ ]:
#f

In [ ]:
# print('\033[4m'+'Global Attributes:'+'\033[0m')
# for key in f.attrs:
#     print("%s = %s" % (key, f.attrs[key]))
# print('\033[4m'+'\nVariable Attributes:'+'\033[0m')
# for var in f.variables:
#     print('\033[1m'+var+'\033[0m')
#     for key in f.variables[var].attrs:
#         print('\t%s = %s' % (key,f.variables[var].attrs[key]))
#     #f.variables['time'].attrs

In [ ]:
# f.plot.scatter('lat','lon')

In [ ]:
# import folium
# from folium.plugins import Fullscreen

# map = folium.Map(location=[f.lat.mean(), f.lon.mean()], zoom_start=1)
# Fullscreen().add_to(map)

# for i in range(0,len(f.lat.data)):
#     folium.Circle(
#         location=[f.lat.data[i],f.lon.data[i]],
#         radius = 5,
#         popup = f.platform.species,
#     ).add_to(map)
# map

In [ ]:
# from folium.plugins import HeatMapWithTime
# from folium.plugins import Fullscreen

# map1 = folium.Map(location=[f.lat.mean(), f.lon.mean()], zoom_start=1)
# Fullscreen().add_to(map1)

# HeatMapWithTime([f.lat.data,f.lon.data],radius=5,auto_play=True,position='bottomright').add_to(map1)

# map1

In [ ]:
# import matplotlib.pyplot as plt
# import cartopy.crs as ccrs
# ax = plt.axes(projection=ccrs.PlateCarree())
# ax.stock_img()

# f.plot.scatter(x='lon',y='lat')

## Attempt to animate tracks
uses code from https://nbviewer.jupyter.org/github/ocefpaf/notebooks_demos/blob/HS20/notebooks/2020-11-18-Hurricane_Season-2020.ipynb

In [ ]:
# import pandas as pd
# gliders = f.to_dataframe()
# gliders['time']=pd.to_datetime(gliders['time'])
# gliders = gliders.set_index('time')
# gliders

In [ ]:
# min_lon, max_lon, min_lat, max_lat = bbox  = -155, -150, 58, 60#
# #min_lon, max_lon, min_lat, max_lat = bbox  = f.lon.min(), f.lon.max(), f.lat.min(), f.lat.max()
# min_time = pd.to_datetime(f.time.min().values)
# max_time = pd.to_datetime(f.time.max().values)

In [ ]:
# from pathlib import Path

# import cartopy.crs as ccrs
# import matplotlib.pyplot as plt
# from matplotlib.image import imread

# image_path = Path.home().joinpath("cartopy_stockimages")

# def make_map(figsize=(12, 12), projection=ccrs.PlateCarree()):
#     fig, ax = plt.subplots(
#         subplot_kw={"projection": projection},
#         figsize=figsize,
#     )
#     ax.set_extent(bbox)
#     ax.coastlines()
#     fname = image_path.joinpath("HYP_LR_SR_OB_DR.tif")
#     ax.imshow(imread(fname), origin="upper", transform=projection, extent=[-180, 180, -90, 90])
#     return fig, ax

In [ ]:
# We will interpolate all data to 6 hours interval
# glider data is approximately a few minutes while track data is every 6 hours
# new_index = pd.date_range(min_time, max_time, freq="6h")


# def reindex_and_interpolate(df, new_index):
#     return df.reindex(df.index | new_index).interpolate(method="pad", limit_direction="forward", limit=1).loc[new_index]


# inter_gliders = {}
# for glider, df in gliders.items():
#     # Some delayed gliders have duplicated index.
#     df = df.drop_duplicates()
#     df = reindex_and_interpolate(df, new_index)
#     inter_gliders.update({glider: df})

# inter_gliders = gliders

In [ ]:
# fig, ax = make_map()

# ax.plot(inter_gliders["lon"], inter_gliders["lat"], color='orange', linestyle="none", marker=".")

In [ ]:
# import numpy as np
# from IPython.display import HTML
# from matplotlib.animation import FuncAnimation
# from matplotlib.colors import LinearSegmentedColormap


# fig, ax = make_map()

# title = ax.text(
#     0.5, 1.05, "",
#     bbox={"facecolor": "w", "alpha": 0.5, "pad":5},
#     transform=ax.transAxes, ha="center"
# )

# # lines = []
# # for track in inter_tracks.keys():
# #     line, = ax.plot([], [], color=colors[1], marker=".", linestyle="-")
# #     lines.append(line)



# def init():
#     ax.set_xlim(min_lon, max_lon)
#     ax.set_ylim(min_lat, max_lat)
#     return title,


# intensity_glider = []
# x_glider, y_glider = [], []
# #cmap_glider = make_colors(colors[0])
# scatter_glider = ax.scatter([], [], s=10, c=[], vmin=0, vmax=1)
# def update_glider(k):
#     global scatter_glider, intensity_glider, x_glider, y_glider
#     x, y = [], []
#     df = inter_gliders
#     #for glider, df in inter_gliders.items():
#     #print(glider)
#     #print(df)
#     point = df.iloc[k]
#     #print(point)
#     x.append(point["lon"])
#     y.append(point["lat"])
#     x_glider.extend(x)
#     y_glider.extend(y)
#     arr = np.c_[x_glider, y_glider]
#     scatter_glider.set_offsets(arr)
#     intensity_glider = np.concatenate((np.array(intensity_glider)*0.80, np.ones(len(x))))
#     scatter_glider.set_array(intensity_glider)
#     return scatter_glider,

# def update(k):
#     update_glider(k)
#     title.set_text(inter_gliders.index[k])
#     return title,


# anim = FuncAnimation(fig, update, init_func=init, frames=len(inter_gliders.index), blit=True);
# plt.close()  # remove the extra frame output.

In [ ]:
# HTML(anim.to_html5_video())